body{
    background-color: #f0f0f0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 5px; 
}

h1{
    text-align: center;
    color: #333;
}

.poke-card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 3px violet;
    margin: 20px auto;
    padding: 20px;
    width: 300px;

}

#poke-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    text-align: center;
    
}
